@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=latin-ext,vietnamese');
*{
  font-family: 'Montserrat', sans-serif !important;
}
header{
  //background: #cacaca;
  ul{
    width: 100%;
    li{
      width: calc(100% / 4);
      a{
        color: #0066cc;
        font-weight: bold;
      }
    }
  }

}
.section-1{

  min-height: 130vh;
  background-image:  url("../images/s1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size : cover;
  padding: 100px;
  position: relative;
  #cham1{
    right: 0;
    bottom: 100px;
    z-index: -1;
    position: absolute;
  }
  ul.top-info{
    color: white;
    font-size: 24px;
    li{
      margin: 20px 0px;
      span{
        font-size: 35px;
      }
    }
  }
}
.section-2{
  position: relative;
  h3{
    font-size: 50px;
    color: rgba(240, 165, 10, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
  }
  h1{
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    font-size: 60px;
  }
  p{
    font-size: 30px;
    text-align: justify;
    color: #336699;
    span{
      font-size: 40px;
    }
  }
  #cham3{
    position: absolute;
    max-width: 20%;
    right: 0;
    z-index: -1;
  }
  #cham5{
    position: absolute;
    max-width: 25%;
    left: 0;
    z-index: -1;
  }
}
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
.section-3{
  z-index: 2;
  margin-top: 200px!important;
  min-height: 140vh;
  overflow: hidden;
  position: relative;
  h1{
    color: white;
    font-weight: 400;
  }
  #trapezoid{
      position: absolute;
      border-bottom: 160vw solid #6699cc;
      border-left: 300px solid transparent;
      border-right: 300px solid transparent;
      height: 0;
      width: 75%;
      transform: rotate(90deg);
  }
  #cham4{
    position: absolute;
    bottom: 0;
    max-width: 150px;
    right: 0;
    bottom: 50px;
    z-index: -1;
  }
  ul.top-info{
    color: white;
    font-size: 24px;
    li{
      margin: 20px 0px;
      span{
        font-size: 35px;
      }
    }
  }
}
.section-4{
  h1{
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    font-size: 60px;
  }
  position: relative;
  #cham2{
    right: 0;
    bottom: -70%;
    position: absolute;
  }
  #cham6{
    top : -50px;
    position: absolute;
  }
}
.footer{
  color: #4866c8;
  h4{
    &.title{
      font-weight: 500;
      position: relative;
      color: #4866c8;
      display: flex;
      justify-content: start;
      &:before{
        position: absolute;
        content: "";
        width: 30%;
        height: 2px;
        top : 50%;
        right: 15%;
        background: #4866c8;
      }
    }
  }
  ul{
    list-style: none;
  }
}